* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

.header-wave {
    max-width: 900px;
    position: absolute;
    pointer-events: none;
}

.navbar {
    display: flex;
    position: relative;
    top: 0px;
    /* left: 20px; */
    justify-content: space-between;
}

.image-holder {
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50px;
}

/* Banner Hero */

h1 {
    font-weight: 700;
    font-size: 3rem;
}

.description {
    color: #8a8a8a;
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 70%;
    margin: 16px 0 20px 0;

}

.text-description {
    margin: 6px 0 55px 0;

}

.button-style {
    background: linear-gradient(259.77deg, #FFFFFF -9.43%, rgba(255, 255, 255, 0.586965) -3.62%, rgba(255, 255, 255, 0) 45.03%), #438BCD;
    padding: 12px 20px 12px 20px ;
    border-radius: 6px;
    color: white;
    border: 0px solid red;
    font-size: 1.2rem;
    
}

.test {
    font-weight: 300;
}

.grid-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 11rem 5vh 0 5vh;
}

.hero-image {
    width: 80%;
    max-width: 35rem;
    z-index: 999;
    position: relative;
}

#circle-sun {
    content: "";
    width: 200px;
    height: 200px;
    background: #F1637D;
    border-radius: 50%;
  
    position: absolute;
    top: 140px;
    right: 220px;
    z-index: 1;
    animation: infinite-translate-y 3s infinite 0s ease-in-out;
  }

  @keyframes infinite-translate-y {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(0) translateY(06px);
    }
    100% {
      transform: rotate(0);
    }
  }

  .text {
    place-self: center;
  }

  @media (max-width: 930px) {

    .header-wave {
        max-width: 100%;
        position: absolute;
        pointer-events: none;
    }

    #circle-sun {
        content: "";
        width: 120px;
        height: 120px;
        background: #F1637D;
        border-radius: 50%;
        position: absolute;
        top: 100px;
        right: 110px;
        z-index: 1;
        animation: infinite-translate-y 3s infinite 0s ease-in-out;
      }

      .grid-hero {
        grid-template-columns: 1fr;
        place-items: center;
        margin: 6rem 5vh 0 5vh;

      }

      .image-container {
          grid-row: 1/2 ;
          display: flex;
          justify-content: center;
          margin-bottom: 50px;
      }

      .description {
          max-width: 100%;
          margin: 13px 0 13px 0;
          line-height: 1.2;
      }

      .text-description {
        margin: 6px 0 25px 0;
    
    }

      .button-style {
          display: block;
          text-align: center;
      }
  }

  /* Section 02 */

  .title-info {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .section-title {
    font-size:2rem;
    margin-bottom: 4rem;
  }

  .bold-text {
      font-weight: bold;
  } 

  .our-product {
      margin-top: 250px;
  }

  .grid-section {
      display: grid;
      grid-template-columns: 50% 1fr;
      grid-template-rows: 220px 220px 300px;
      margin: 0 30px 0 80px ;
  }

  .section-info {
    margin: 0 100px 0 100px;
  }

  .box-1 {
      grid-column-start: 1;
      grid-column-end: 2;
  }

  .box-2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
  }

  .box-3 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
  }

  .image-top {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: -70px;
  }

  .image-bottom {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -30px;
  }

  .box {
      /* margin-bottom: 140px ; */
  }

  .images-section {
      width: 65% ;
  }

  .number {
      font-size: 2rem;
      font-weight: 700;
  }

  .paragraph {
       width: 70%;
       font-size: 1.5rem;
       font-weight: 300;
       margin: 5px 20px 20px 20px;
  }